
<%- include("header") -%> 
<link rel="stylesheet" href="css/about.css">
<div class="about-section">
    <h1>About Us Page</h1>
    <p>We are the Junior Software Engineers and doing MERN project.</p>
    <p>Alone we are smart. togather we are brilliant.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
        <div class="container">
          <h2>Hamza Azam</h2>
          <p class="title">CEO & Founder</p>
          <p>Project Leader</p>
          <p>hamzaazam994@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
        <div class="container">
          <h2>Abdullah Malik</h2>
          <p class="title">Art Director</p>
          <p>Co-Leader</p>
          <p>abdullahmalik1208@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  
    <div class="column">
      <div class="card">
        <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
        <div class="container">
          <h2>Ehsan Rasul and Mahad Rahat</h2>
          <p class="title">Designer</p>
          <p>Manager</p>
          <p>ehsanrasul0@gmail.com | mahadraht2@gmail.com</p>
     
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="column">
    <div class="card">
       <img src="/w3images/team3.jpg" alt="John" style="width:100%"> 
      <div class="container">
        <h2>Mahad Rahat</h2>
        <p class="title">Designer</p>
        <p>Tester</p>
        <p>mahadraht2@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> -->


  <%- include("footer") -%> 